@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    font-family: poppins, Helvetica, sans-serif;
    box-sizing: border-box;
}

img {
    height: 200px;
}

nav span {
    color: white;
    cursor: default;
}

#menu:active {
    color: black;
}

#showmenu {
    position: absolute;
    height: 100vh;
    background-color: #35BD3A;
    width: 65vw;
    max-width: 400px;
    transition: all 0.5s ease-in-out;
    z-index: 10000;
}

.show {
    transform: translateX(-65vw);
    transition: all 0.5s ease-in-out;
}

.list ul {
    margin: 55px 0;
    padding: 0;
}

.list ul li {
    list-style: none;
    padding: 18px 0px;
    padding-left: 20px;
    color: white;
    border-bottom: 1px solid;
    display: flex;
    font-size: 20px;
    align-items: center;
    cursor: pointer;
}

.list ul li span {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.list ul li:hover {
    background-color: #01AB08;
}
.list ul li:active {
    background-color: #35BD3A;
}

#close {
    font-size: 40px;
    color: white;
    position: absolute;
    right: 10px;
    cursor: default;
}

#close:active {
    color: black;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



nav {
    background-color: #01AB08;
    width: 100vw;
    height: 40px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5px;
    z-index: 1000;
    text-wrap: nowrap;

}

.start_box {
    background-color: #01AB08;
    height: 60px;
    width: 200px;
    border-radius: 9px;
    cursor: default;
}
.start_box:active{
    box-shadow: 1px 1px 5px;
}
.retry:active{
    box-shadow: 1px 1px 5px inset;
}
.start:active {
    height: 55px;
    width: 195px;
}

.start {
    background-color: #35BD3A;
    height: 50px;
    width: 190px;
    border-radius: 9px;
    padding: 10px 20px;
}

.start span {
    color: white;
    font-size: 25px;
    text-wrap: nowrap;
    font-weight: 600;
}

#volume {
    height: 30px;
}

.page1 {
    height: calc(100vh - 40px);
    transform: translateY(40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
}

.page2 {
    position: absolute;
    top: 0;
    height: calc(100% - 40px);
    transform: translateY(40px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #cdffc3;
    transition: all 0.5s ease-in-out;
}
 

.level {
    display: flex;
    justify-content: flex-end;
}

.level h2 {
    text-align: right;
    background-color: #FEC33D;
    padding: 5px 15px;
    margin: 15px 30px 10px;
    border-radius: 6.6666px;
    width: 102px;
    text-align: center;
}

.question {
    background-color: white;
    padding: 20px;
    margin: 5px 30px;
    border-radius: 13px;
    text-align: center;
}
.timer {
    display: flex;
    justify-content: flex-end;
}

.timer h2 {
    text-align:center;
    background-color:#48bb4c;
    padding: 5px 10px;
    margin: 10px 30px 10px;
    width: 102px;
    border-radius: 6.6666px;
    color: white;
}
@media (min-width: 800px){
    .page2{
         padding: 0vw 10vw;
    }
    .answer{
        padding: 2vh 15px;
    }
}
@media (min-width: 1000px){
    .page2{
         padding: 0vw 20vw;
    }
    .answer{
        padding: 2vh 15px;
    }
}
.ansbox{
    background-color: white;
    height: 40vh;
    margin: 10px 30px 10px;
    border-radius: 13px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid rgba(160, 160, 160, 0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.237);
}
.answer{
    padding: 3vh 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    width: 100%;
    border-radius: 7px;
    border: 2px solid #D9D9D9;
    cursor: pointer;
}
#next{
    color: #01AB08;
    font-size: 16px;
    font-weight: 600;
    max-width: fit-content;
    border: none;
    background-color: transparent;
    position: absolute;
}
#next:active{color: #007904;}
.page2 {
    opacity: 0;
    z-index:-1; 
}
.wrong{
    border:2px solid red;
    color: red;
}
.wrong .material-icons{
    color: red;
}
.correct{
    border:2px solid #35BD3A;
    color: #35BD3A;
    transition: all 1s ease-in-out;

}
.correct .material-icons{
    color: #35BD3A;
}
.imag{
    background-color: green;
    height: 10px;
    width: 10px;
}
.page3{
    position: absolute;
    top: 0;
    height: calc(100% - 40px);
    transform: translateY(40px);
    width: 100vw;
    background-color: white;
    display: none;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    z-index: -11;
}

.retry{
    background-color: #01AB08;
    height: 60px;
    width: 200px;
    border-radius: 9px;
    cursor: default;
    margin-top: 5vh;
}

.lc{
    height: 30vh;
    width: 30vh;
    background-image: conic-gradient(rgb(255, 56, 56) 0deg, rgb(255, 56, 56) 180deg, #35BD3A 180deg, #35BD3A);
    border-radius: 50%;
}

.sc{
    height: 20vh;
    background-color: rgb(255, 255, 255);
    width: 20vh;
    border-radius: 50%;
}